<% layout('../base') -%>

<% if(obj) {%>
    <h1><%= __('Edit object') %></h1>
    <form action="/admin/edit_object/<%= obj.getId() %>" method="post">
<% } else { %>
    <h1><%= __('Add object') %></h1>
    <form action="/admin/add_object" method="post">
<% } %>
    <input type='hidden' name='_csrf' value='<%= _csrf %>'>
    <div class="block_form">
        <label for="title" class="form_label"><%= __('Choose a title') %> : </label>
        <input name="title" type="text" <% if(obj) {%> value="<%= obj.getTitle() %>"<% } %> />
    </div>

    <div class="block_form">
        <label for="short_desc" class="form_label"><%= __('Short description') %> : </label>
        <textarea name="short_desc" rows="5" cols="40"><% if(obj) {%><%= obj.getShortDesc() %><% } %></textarea>
    </div>

    <div class="block_form">
        <label for="complete_desc" class="form_label"><%= __('Complete description') %> : </label>
        <textarea name="complete_desc" rows="5" cols="40"><% if(obj) {%><%= obj.getCompleteDesc() %><% } %></textarea>
    </div>

    <div class="block_form">
        <label for="gallery" class="form_label"><%= __('Gallery') %> : </label>
        <input name="gallery" type="text" <% if(obj) {%> value="<%= obj.getGallery() %>"<% } %>/>
    </div>
    
    <div class="block_form">
        <label for="category" class="form_label"><%= __('Category') %> : </label>
        <input name="category" type="text" <% if(obj) {%> value="<%= obj.getCategory() %>"<% } %>/>
    </div>
    
    <div class="block_form">
        <label for="filename_3D" class="form_label"><%= __('3D image path') %> : </label>
        <input name="filename_3D" id="filename_3D" type="hidden" <% if(obj) {%> value="<%= obj.getFileName3D() %>"<% } %>/>
        <div class="select_list">
            <ul class="ply_list">
            <% ply.forEach(function(file, index) {%>
                <li onclick="selectFile(this,'<%= file %>')" <% if(obj) {%><% if(obj.getFileName3D() == file) { %> class = "selected" <% } %><% } %>><%= file %></li>
            <% }); %>
            </ul>
        </div>

    </div>

    <div class="block_form">
        <label for="filename_flat" class="form_label"><%= __('Flat image path') %> : </label>
        <input name="filename_flat" type="text" <% if(obj) {%> value="<%= obj.getFileNameFlat() %>"<% } %>/>
        <!--    TODO : file selector     -->
    </div>

    <div class="block_form">
        <label for="preview" class="form_label"><%= __('Object preview') %> : </label>
        <input name="preview" type="text"<% if(obj) {%>  value="<%= obj.getPreview() %>"<% } %>/>
        <!--    TODO : file selector     -->
    </div>

    <div class="block_form">
        <label for="published" class="form_label"><%= __('Published') %> : </label>
        <input type="checkbox" name="published" value="published"
        <% if(obj) {%>
            <% if(obj.getPublished()) {%>
                checked
            <% } %>        
        <% } %>
        >
        
    </div>
    
  <div class="block_form_button">
    <input type="submit"/>
  </div>
</form>

<script type="text/javascript">
    function selectFile(li, file) {
        // unselect all
        $('.ply_list').each(function(){
            $(this).find('li').each(function(){
                var current = $(this);
                current.removeClass("selected");
            });
        });
        
        $(li).addClass("selected");
        $("input#filename_3D").val(file);
    }
</script>
