<% layout('../base') -%>

<h1><%= __('Add object') %></h1>
<form action="/admin/add_object" method="post">
    <input type='hidden' name='_csrf' value='<%= _csrf %>'>
    <div class="block_form">
        <label for="title" class="form_label"><%= __('Choose a title') %> : </label>
        <input name="title" type="text"/>
    </div>

    <div class="block_form">
        <label for="short_desc" class="form_label"><%= __('Short description') %> : </label>
        <input name="short_desc" type="textarea" rows="5" cols="40" />
    </div>

    <div class="block_form">
        <label for="complete_desc" class="form_label"><%= __('Complete description') %> : </label>
        <input name="complete_desc" type="textarea" rows="5" cols="40" />
    </div>

    <div class="block_form">
        <label for="gallery" class="form_label"><%= __('Gallery') %> : </label>
        <input name="gallery" type="text"/>
    </div>
    
    <div class="block_form">
        <label for="category" class="form_label"><%= __('Category') %> : </label>
        <input name="category" type="text"/>
    </div>
    
    <div class="block_form">
        <label for="filename_3D" class="form_label"><%= __('3D image path') %> : </label>
        <input name="filename_3D" type="text"/>
    </div>

    <div class="block_form">
        <label for="filename_flat" class="form_label"><%= __('Flat image path') %> : </label>
        <input name="filename_flat" type="text"/>
    </div>

    <div class="block_form">
        <label for="preview" class="form_label"><%= __('Object preview') %> : </label>
        <input name="preview" type="text"/>
    </div>

    <div class="block_form">
        <label for="published" class="form_label"><%= __('Published') %> : </label>
        <input name="published" type="text"/>
    </div>
        
  <div class="block_form_button">
    <input type="submit"/>
  </div>
</form>
