<% layout('../base') -%>

<% if(obj) {%>
    <h1><%= __('Edit object') %></h1>
    <form action="/admin/edit_object/<%= obj.getId() %>" method="post" enctype="multipart/form-data">
<% } else { %>
    <h1><%= __('Add object') %></h1>
    <form action="/admin/add_object" method="post" enctype="multipart/form-data">
<% } %>
    <input type='hidden' name='_csrf' value='<%= _csrf %>'>
    <div class="block_form">
        <label for="title" class="form_label"><%= __('Choose a title') %> : </label>
        <input name="title" type="text" <% if(obj) {%> value="<%= obj.getTitle() %>"<% } %> />
    </div>

    <div class="block_form">
        <label for="short_desc" class="form_label"><%= __('Short description') %> : </label>
        <textarea name="short_desc" rows="5" cols="40"><% if(obj) {%><%= obj.getShortDesc() %><% } %></textarea>
    </div>

    <div class="block_form">
        <label for="complete_desc" class="form_label"><%= __('Complete description') %> : </label>
        <textarea name="complete_desc" rows="5" cols="40"><% if(obj) {%><%= obj.getCompleteDesc() %><% } %></textarea>
    </div>

    <div class="block_form">
        <label for="gallery" class="form_label"><%= __('Gallery') %> : </label>
        <input name="gallery" type="text" <% if(obj) {%> value="<%= obj.getGallery() %>"<% } %>/>
    </div>
    
    <div class="block_form">
        <label for="category" class="form_label"><%= __('Category') %> : </label>
        <input name="category" type="text" <% if(obj) {%> value="<%= obj.getCategory() %>"<% } %>/>
    </div>
    
    <div class="block_form">
        <label for="filename_3D" class="form_label"><%= __('3D image path') %> : </label>
        <input name="filename_3D" id="filename_3D" type="hidden" <% if(obj) {%> value="<%= obj.getFileName3D() %>"<% } %>/>
        <div class="select_list">
            <ul class="ply_list">
            <% ply.forEach(function(file, index) {%>
                <li onclick="selectFile(this,'<%= file %>','.ply_list','filename_3D')" <% if(obj) {%><% if(obj.getFileName3D() == file) { %> class = "selected" <% } %><% } %>><%= file %></li>
            <% }); %>
            </ul>
        </div>

    </div>

    <div class="block_form">
        <label for="filename_flat" class="form_label"><%= __('Flat image path') %> : </label>
        <input name="filename_flat" id="filename_flat" type="hidden" <% if(obj) {%> value="<%= obj.getFileNameFlat() %>"<% } %>/>
        <div class="select_list">
            <ul class="nii_list">
            <% nii.forEach(function(file, index) {%>
                <li onclick="selectFile(this,'<%= file %>','.nii_list','filename_flat')" <% if(obj) {%><% if(obj.getFileNameFlat() == file) { %> class = "selected" <% } %><% } %>><%= file %></li>
            <% }); %>
            </ul>
        </div>
        
    </div>

    <div class="block_form">
        <label for="preview" class="form_label"><%= __('Object preview') %> : </label>
        <input type="file" id="preview" name="preview" />
        <div class='current_preview'><img src="<%= obj.getPreview() %>" alt="<%= obj.getTitle() %>" /></div>
    </div>

    <div class="block_form">
        <label for="preview_animated" class="form_label"><%= __('Object preview animated') %> : </label>
        <input type="file" id="preview_animated" name="preview_animated" />
        <div class='current_preview'><img src="<%= obj.getPreviewAnimated() %>" alt="<%= obj.getTitle() %>" /></div>
    </div>
    
    <div class="block_form">
        <label for="published" class="form_label"><%= __('Published') %> : </label>
        <input type="checkbox" name="published" value="published"
        <% if(obj) {%>
            <% if(obj.getPublished()) {%>
                checked
            <% } %>        
        <% } %>
        >
        
    </div>
    
    
    <div class="block_form">
        <label for="media_files" class="form_label"><%= __('Medias') %> : </label>
        <input type="file" id="media_files" name="media_files" multiple />
<!--    TODO: display already attached medias with option to delete them      -->

        <% if(medias_pictures) { %>
            <% medias_pictures.forEach(function(media, index) {%>
                <div class='current_preview'><img src="<%= media.getUrl() %>" alt="<%= media.getTitle() %>"></div>
            <% }); %>
        <% } %>            
    </div>
    
    
  <div class="block_form_button">
    <input type="submit"/>
  </div>
</form>

<script type="text/javascript">
    function selectFile(li, file, selector, hidden) {
        // Unselect all
        $(selector).each(function(){
            $(this).find('li').each(function(){
                var current = $(this);
                current.removeClass("selected");
            });
        });
        
        // Add selected to the selected one
        $(li).addClass("selected");
        
        // Store chosen file in hidden field
        $('input#'+hidden).val(file);
    }
</script>
