<% layout('../base') -%>

<% if(obj) {%>
    <h1><%= __('Edit object') %></h1>
    <form id="edit_form" action="/admin/edit_object/<%= obj.getId() %>" method="post" enctype="multipart/form-data">
<% } else { %>
    <h1><%= __('Add object') %></h1>
    <form id="edit_form" action="/admin/add_object" method="post" enctype="multipart/form-data">
<% } %>
    <input type='hidden' name='_csrf' value='<%= _csrf %>'>
    <div class="block_form">
        <label for="title" class="form_label"><%= __('Choose a title') %> : </label>
        <input name="title" type="text" <% if(obj) {%> value="<%= obj.getTitle() %>"<% } %> />
    </div>

    <div class="block_form">
        <label for="title_en" class="form_label"><%= __('Choose a title (en)') %> : </label>
        <input name="title_en" type="text" <% if(obj) {%> value="<%= obj.getTitleEn() %>"<% } %> />
    </div>

    <div class="block_form">
        <label for="code_mnhn" class="form_label"><%= __('MNHN unique code') %> : </label>
        <input name="code_mnhn" type="text" <% if(obj) {%> value="<%= obj.getCodeMNHN() %>"<% } %> />
    </div>

    <div class="block_form">
        <label for="short_desc" class="form_label"><%= __('Short description') %> : </label>
        <textarea name="short_desc" rows="5" cols="40"><% if(obj) {%><%= obj.getShortDesc() %><% } %></textarea>
    </div>

    <div class="block_form">
        <label for="short_desc_en" class="form_label"><%= __('Short description (en)') %> : </label>
        <textarea name="short_desc_en" rows="5" cols="40"><% if(obj) {%><%= obj.getShortDescEn() %><% } %></textarea>
    </div>
    
    <div class="block_form">
        <label for="complete_desc" class="form_label"><%= __('Complete description') %> : </label>
        <textarea name="complete_desc" rows="5" cols="40"><% if(obj) {%><%= obj.getCompleteDesc() %><% } %></textarea>
    </div>

    <div class="block_form">
        <label for="complete_desc_en" class="form_label"><%= __('Complete description (en)') %> : </label>
        <textarea name="complete_desc_en" rows="5" cols="40"><% if(obj) {%><%= obj.getCompleteDescEn() %><% } %></textarea>
    </div>
    
    
    <div class="block_form">
        <label for="gallery" class="form_label"><%= __('Gallery') %> : </label>
        <select name="gallery" id="gallery" class="select">
        </select>
    </div>
    
    <div class="block_form">
        <label for="collection" class="form_label"><%= __('Collection') %> : </label>
        <select name="collection" id="collection" class="select">
        </select>
    </div>

    <div class="block_form">
        <label for="copyright" class="form_label"><%= __('Copyright') %> : </label>
        <input name="copyright" type="text" <% if(obj) {%> value="<%= obj.getCopyright() %>"<% } %>/>
    </div>
    
    <div class="block_form">
        <label for="published" class="form_label"><%= __('Published') %> : </label>
        <input type="checkbox" name="published" value="published"
        <% if(obj) {%>
            <% if(obj.getPublished()) {%>
                checked
            <% } %>        
        <% } %>
        >
        
    </div>
    
    <div class="block_form">
        <label for="filename_3D" class="form_label"><%= __('3D image path') %> : </label>
        <input type="file" id="filename_3D" name="filename_3D" />
        <% if(obj) {%>
            <div class="current_file"><%= __('Current file') %> : <%= obj.getFileName3D() %></div>
        <% } %>

    </div>
    <div class="block_form">
        <label for="dim_x" class="form_label"><%= __('Dimension X') %> : </label>
        <input name="dim_x" type="text" <% if(obj) {%> value="<%= obj.getDimX() %>"<% } else { %> value="1" <% } %> />
    </div>
    <div class="block_form">
        <label for="dim_y" class="form_label"><%= __('Dimension Y') %> : </label>
        <input name="dim_y" type="text" <% if(obj) {%> value="<%= obj.getDimY() %>"<% } else { %> value="1" <% } %> />
    </div>
    <div class="block_form">
        <label for="dim_z" class="form_label"><%= __('Dimension Z') %> : </label>
        <input name="dim_z" type="text" <% if(obj) {%> value="<%= obj.getDimZ() %>"<% } else { %> value="1" <% } %> />
    </div>

    <div class="block_form">
        <label for="filename_flat" class="form_label"><%= __('Flat image path') %> : </label>
        <input type="file" id="filename_flat" name="filename_flat" />
        <% if(obj) {%>
            <div class="current_file"><%= __('Current file') %> : <%= obj.getFileNameFlat() %></div>
        <% } %>

    </div>
    <div class="block_form">
        <label for="acquisition_params" class="form_label"><%= __('Acquisition params') %> : </label>
        <input name="acquisition_params" type="text" <% if(obj) {%> value="<%= obj.getAcquisitionParams() %>"<% } %> />
    </div>
    
    

    <div class="block_form">
        <label for="preview" class="form_label"><%= __('Object preview') %> : </label>
        <input type="file" id="preview" name="preview" />
        <% if(obj) {%><div class='current_preview'><div class="media_any media_single"><img src="<%= obj.getPreview() %>" alt="<%= obj.getTitle() %>" /></div></div><% } %>
    </div>

    <div class="block_form">
        <label for="preview_animated" class="form_label"><%= __('Object preview animated') %> : </label>
        <input type="file" id="preview_animated" name="preview_animated" />
        <% if(obj) {%><div class='current_preview'><div class="media_any media_single"><img src="<%= obj.getPreviewAnimated() %>" alt="<%= obj.getTitle() %>" /></div></div><% } %>
    </div>
    
    
    <div class="block_form">
        <label for="media_files" class="form_label"><%= __('Medias') %> : </label>
        <div class="edit_medias">
            <input type="file" id="media_files" name="media_files"/>
            <% if(typeof medias != 'undefined') {%>
                <% if(medias) { %>
                    <ul>
                    <% medias.forEach(function(media, index) {%>
                        <li>
                            <div id="<%= media.getId() %>" class="current_preview">
                                <div class="media_any">
                                <% if(media.isImage()) { %>
                                    <img src="<%= media.getUrl() %>" alt="<%= media.getTitle() %>">
                                <% } else { %>
                                    <a target="_blank" href="<%= media.getUrl() %>"><%= media.getTitle() %></a>
                                <% } %>
                                    <div class="delete" id="<%= media.getId() %>_delete"></div>
                                </div>
                                
                            </div>
                        </li>
                    <% }); %>
                    </ul>
                <% } %>
            <% } %> 
        </div>
        <input type="hidden" name="delete_medias" id="delete_medias">
    </div>
    
    <div class="block_form">
        <label for="associated_objects" class="form_label"><%= __('Associated objects') %> : </label>
        <select name="associated_objects" id="associated_objects" multiple size=10>
        </select>
    </div>
    
    
    <div id="progress_dialog">
        <p><%= __('Please wait while the object is saved') %></p>
        <div id="progressbar"></div>
    </div>
    
    
  <div class="block_form_button">
    <input type="submit"/>
  </div>
</form>

<script type="text/javascript">
    $(document).ready(function(){
        // Fill collections
        $.ajax({
            type: "GET",
            url: "/allcollections"
        })
        .done(function( objects ) {
            objects.forEach(function(collection, index) {
                $("#collection").append($("<option />").val(collection.id).text(collection.name));
                <% if(obj) {%>
                    if (collection.id == <%= obj.getCollection() %>) {
                        $("#collection").val(collection.id);
                    }
                <% } %>
            });
        });
        
    
        $.ajax({
            type: "GET",
            url: "/objects" <% if (obj) { %>+ '/'+<%= obj.getId() %><% } %>
        })
        .done(function( objects ) {
            objects.forEach(function(object, index) {
                $("#associated_objects").append($("<option />").val(object.id).text(object.name));
            });
        });
        
        // Fill galleries
        $.ajax({
            type: "GET",
            url: "/galleries"
        })
        .done(function( objects ) {
            objects.forEach(function(gallery, index) {
                $("#gallery").append($("<option />").val(gallery.id).text(gallery.title));
                <% if(obj) {%>
                    if (gallery.id == <%= obj.getGallery() %>) {
                        $("#gallery").val(gallery.id);
                    }
                <% } %>
            });
        });
        
        
        var options = { 
            //target: '#output',   // target element(s) to be updated with server response
            replaceTarget: true,
            uploadProgress: uploadProgress,
            beforeSubmit: beforeSubmit,
            success: showResponse,  // post-submit callback 
            type: 'POST'
        }; 

        // bind form using 'ajaxForm' 
        $('#edit_form').ajaxForm(options); 
        
        $('#progress_dialog').hide();
        
    });
    
    function uploadProgress(event, position, total, percentComplete) {        
        $( "#progressbar" ).progressbar({
            value: percentComplete
        });
    }
    
    function beforeSubmit(arr, $form, options) {
        $.blockUI({ message: $('#progress_dialog') });
    }    
    
    // post-submit callback 
    function showResponse(responseText, statusText, xhr, $form)  { 
        $.unblockUI();

        if(responseText.status == true) {
            alert("<%= __('Object saved successfully') %>");
            window.location.replace(responseText.url);
        } else {
            alert("<%= __('An error has occured while saving the object') %>");
        }
    }     
    
    // Manage media delete
    $( ".delete" ).click(function() {
        if (confirm("<%= __('Are you sure you want to delete this object ?') %>")) { 
            // tag the hidden field associated to the media, for delete process
            delete_media = $("#delete_medias").val();
            $("#delete_medias").val(delete_media + "," + this.id.replace("_delete",""));
            // Hide the media
            $("#"+this.id.replace("_delete","")).hide();
        }
    });    
</script>
