<% layout('base') -%>

<input type='hidden' name='_csrf' id='_csrf' value='<%= _csrf %>'>

<% if(medias_pictures.length > 0) { %>
<div class="bloc_img_detail">
    <% if(medias_pictures) { %>
        <div id="mediaCarousel" class="carousel slide" data-ride="carousel">
            
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <% medias_pictures.forEach(function(media, index) {%>
                <li data-target="#mediaCarousel" data-slide-to="<%= index %>" <% if (index == 0) {%>class="active"<%}%>></li>
            <% }); %>
        </ol>
        
        <div class="carousel-inner">
            <% medias_pictures.forEach(function(media, index) {%>
                <div class="item <% if (index == 0) {%>active<%}%>">
                        <img src="<%= media.getUrl() %>" alt="<%= media.getTitle() %>">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1><%= media.getTitle() %></h1>
                            </div>
                        </div>
                </div>
            <% }); %>
        </div>
        <a class="left carousel-control" href="#mediaCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#mediaCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        
        </div><!-- /.carousel -->
    <% } else { %>
        <img src="<%= obj.getMainImg() %>" alt="<%= obj.getTitle(req.session.lang) %>" />
    <% } %>
</div>
<% } %>


<div class="col-lg-12 col-lg-6-desc main-description">
    
<% if (isAdmin) {%>
    <div class="edit"><a class="admin" href="/admin/edit_object/<%= obj.getId() %>"><%= __('Edit object') %></a></div>
<% }%>
  
    <div class="bloc_desc">
        <h1><%= obj.getTitle(req.session.lang) %></h1>
        <% if(obj.hasShortDesc()) { %>
            <div class="short-description">
                <%= obj.getShortDesc(req.session.lang) %>
            </div>
        <% } %>
        
        <% if(obj.hasCompleteDesc()) { %>
            <div class="complete-description">
                <p><%- obj.getCompleteDesc(true, req.session.lang) %></p>
            </div>
        <% } %>          
    
    </div>
</div>


<div class="col-lg-6 col-lg-6-desc view-3D">
    <div class="bloc_desc bloc_3d">
        <div class="header_block"><h4><%= __('3D view') %></h4>
            <% if (isAdmin) {%>
                <div class="edit_annotation"><a class="admin" href="/admin/edit_annotations/<%= obj.getId() %>"><%= __('Edit annotations') %></a></div>
            <% }%>        
        </div>
        <% include 3dhop.ejs %>
        
    </div>
</div>

<% if(obj.hasFlat()) { %>
    <div class="col-lg-6 col-lg-6-desc view-flat">
        <div class="bloc_desc">
            <div class="header_block"><h4><%= __('Flat view') %></h4></div>
            <% include flat.ejs %>
            
            <p class="center"><%= __('Acquisition params') %> : <%= obj.getAcquisitionParams() %></p>
            
        </div>
    </div>
<% } %>

  

<% if(medias.length > 0) { %>
<div class="col-lg-6 col-lg-6-desc">
    <div class="bloc_desc">
        <div class="header_block"><h4><%= __('Medias associated') %></h4></div>
        <ul class="associated_docs">
        <% medias.forEach(function(media, index) {%>
            <% if(media.isImage()) { %>
                <li class="doc_img">
            <% } else { %>
                <li class="doc_doc">
            <% } %>
                    <a target="_blank" href="/download?path=<%= media.getPath() %>"><%= media.getTitle() %></a>
                </li>
        <% }); %>
        </ul>
    </div>
</div>
<% } %>

<% if(mnhn_form_link.length > 0) { %>
<div class="col-lg-12 col-lg-12-desc">
    <div class="bloc_desc">
        <div class="header_block"><h4><%= __('Collection form') %></h4></div>
        <a target="_blank" href="<%= sails.config.urls.__mnhn %><%= mnhn_form_link %>"><%= __('See the MNHN collection form') %></a>
    </div>
</div>
<% } %>

<div class="col-lg-12 col-lg-12-desc">
    <div class="bloc_desc">
        <div class="header_block"><h4><%= __('Contact us about this object') %></h4></div>
<!--        <div id="contacts">
        </div>-->
        <textarea name="message" id="message" rows="5" cols="40"><%= __('Write your message here') %></textarea>
        <input type="text" name="sender" id="sender" value="<%= __('Your email') %>" />
        <button onclick="sendMessage()"><%= __('Send message') %></button>
    </div>
</div>


<div class="col-lg-12 col-lg-12-desc">
    <div class="bloc_desc">
        <a href="javascript:void(0);" onclick="showEmbedCode()"><%= __('Integrate this page in your website') %></a>
        
    </div>
</div>

<div id="dialog_embed" title="<%= __('Embed view') %>" class="dialog_embed">
    <div class="embed_content"></div>
    <%= __('Insert the following code into your website') %>:
    <span class="code"><pre> &lt;iframe src="<%= req.protocol + '://' + req.get('host') %>/detail/<%= obj.getId() %>/embed" width="500" height="500" frameborder="0" &gt;&lt;/iframe&gt; </pre></span>
    <span class="dialog_close"><%= __('Close') %></span>
</div>

<script type="text/javascript">

    <% if(medias_pictures.length == 0) { %>
        // If no media pictures, we need to remove the margin of the first blocks
        if($('.main-description')) {
            $('.main-description').css( "margin-top", "0" );
        }
    <% } %>

    $(document).ready(function(){
        $.ajax({
            type: "GET",
            url: "/comments/" + <%= obj.getId() %>,
            data: { "_csrf": $("#_csrf").val() }
        })
        .done(function( comments ) {
            comments.forEach(function(comment, index) {
                $("#comments").append(formatComment(comment.comment, comment.updated, comment.author));
            });
        });
        
        
        $('#dialog_embed').dialog({ dialogClass: 'noTitle' });
        $('#dialog_embed').dialog('close');
        $('.dialog_close').on('click', function(){ $('#dialog_embed').dialog('close'); });        
    });
    
    /*function addComment() {
        comment = $("#add_comment").val();
            
        $.ajax({
            type: "POST",
            url: "/add_comment",
            data: { "comment": comment, "id": <%= obj.getId() %>, "_csrf": $("#_csrf").val()}
        })
        .done(function( msg ) {
            if(msg.status) {
                $("#comments").append(formatComment(comment));
            }
        });
    }*/
    
    function formatComment(comment, updated, author) {
        var comment = "<div class='comment'><div class='comment_content'>"+comment+"</div><div class='author'><%= __('By') %> "+author+" - " + updated + "</div></div>";
        return comment;
    }

    function sendMessage() {
        msg = $("#message").val();
        sender = $("#sender").val();
            
        $.ajax({
            type: "POST",
            url: "/contact_us",
            data: { "msg": msg, "sender": sender, "id": <%= obj.getId() %>, "_csrf": $("#_csrf").val()}
        })
        .done(function( msg ) {
            alert("<%= __('Thank you. We will answer you soon.') %>");
            //if(msg.status) {
                //$("#comments").append(formatComment(comment));
            //}
        });
    }
    
    function showEmbedCode() {
        $('#dialog_embed').dialog('open');
    }
    
</script>
