<% layout('base') -%>

<% if (isAdmin) {%>
    <div class="edit"><a href="/admin/edit_object/<%= obj.getId() %>"><%= __('Edit object') %></a></div>
<% }%>
  
<div class="bloc_img_detail">
    <div class="bloc_title"><%= obj.getTitle() %></div>
    <% if(medias_pictures) { %>
        <div id="mediaCarousel" class="carousel slide" data-ride="carousel">
            
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <% medias_pictures.forEach(function(media, index) {%>
                <li data-target="#mediaCarousel" data-slide-to="<%= index %>" <% if (index == 0) {%>class="active"<%}%>></li>
            <% }); %>
        </ol>
        
        <div class="carousel-inner">
            <% medias_pictures.forEach(function(media, index) {%>
                <div class="item <% if (index == 0) {%>active<%}%>">
                    <img src="<%= media.getUrl() %>" alt="<%= media.getTitle() %>">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1><%= media.getTitle() %></h1>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
        <a class="left carousel-control" href="#mediaCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#mediaCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        
        </div><!-- /.carousel -->
    <% } else { %>
        <img src="<%= obj.getMainImg() %>" alt="<%= obj.getTitle() %>" />
    <% } %>
</div>


<div class="col-lg-12 col-lg-6-desc main-description">
    <div class="bloc_desc">
        <%= obj.getShortDesc() %>
    </div>
</div>

<div class="col-lg-6 col-lg-6-desc view-3D">
    <div class="bloc_desc">
        <div class="header_block"><h4><%= __('3D view') %></h4></div>
        <% include 3dhop.ejs %>
    </div>
</div>
<div class="col-lg-6 col-lg-6-desc view-flat">
    <div class="bloc_desc">
        <div class="header_block"><h4><%= __('Flat view') %></h4></div>
        <% include flat.ejs %>
    </div>
</div>


<div class="col-lg-6 col-lg-6-desc">
    <div class="bloc_desc">
        <div class="header_block"><h4><%= __('Description') %></h4></div>
        <p><%= obj.getCompleteDesc() %></p>
    </div>
</div>
<div class="col-lg-6 col-lg-6-desc">
    <div class="bloc_desc">
        <div class="header_block"><h4><%= __('Medias associated') %></h4></div>
        <ul>
        <% medias.forEach(function(media, index) {%>
            <li><a target="_blank" href="/download?path=<%= media.getPath() %>"><%= media.getTitle() %></a></li>
        <% }); %>
        </ul>
    </div>
</div>


<div class="col-lg-12 col-lg-12-desc">
    <div class="bloc_desc">
        <div class="header_block"><h4><%= __('Associated objects') %></h4></div>
        <p>TODO</p>
    </div>
</div>


