<% layout('base_embed') -%>

<input type='hidden' name='_csrf' id='_csrf' value='<%= _csrf %>'>



<div id="tabs">
    <ul>
        <li><a href="#tabs-1"><%= __('Description') %></a></li>
        <% if(medias_pictures.length > 0) { %>
            <li><a href="#tabs-2"><%= __('Pictures') %></a></li>
        <% } %>
        <li><a href="#tabs-3"><%= __('3D') %></a></li>
        <% if(obj.hasFlat()) { %>
            <li><a href="#tabs-4"><%= __('Flat') %></a></li>
        <% } %>    
        <% if(medias.length > 0) { %>
            <li><a href="#tabs-5"><%= __('Medias') %></a></li>
        <% } %>
        <li><a href="#tabs-6"><%= __('Comments') %></a></li>
    </ul>
    <div id="tabs-1">
        <div class="main-description">
            <div class="bloc_desc">
                <h1><%= obj.getTitle(req.session.lang) %></h1>
                <% if(obj.hasShortDesc()) { %>
                    <div class="short-description">
                        <%= obj.getShortDesc(req.session.lang) %>
                    </div>
                <% } %>
                
                <% if(obj.hasCompleteDesc()) { %>
                    <div class="complete-description">
                        <p><%= obj.getCompleteDesc(true, req.session.lang) %></p>
                    </div>
                <% } %>          
            
            </div>
        </div>
    </div>
    <div id="tabs-2">
        <% if(medias_pictures.length > 0) { %>
        <div class="">
            <div class="bloc_desc">
                <% medias_pictures.forEach(function(media, index) {%>
                        <div class="detail flip">
                            <div class="card"> 
                                <span class="face front">
                                    <img src="<%= req.protocol + '://' + req.get('host') %><%= media.getUrl() %>" alt="<%= media.getTitle() %>">
                                </span>
                            </div>
                        </div>
                <% }); %>
            </div>
        </div>
        <% } %>
        
    </div>
    <div id="tabs-3">
        <div class="view-3D">
            <div class="bloc_desc">
                <% include 3dhop.ejs %>
            </div>
        </div>        
    </div>
    <div id="tabs-4">
        <% if(obj.hasFlat()) { %>
            <div class="view-flat">
                <div class="bloc_desc">
                    <% include flat.ejs %>
                    <p class="center"><%= __('Acquisition params') %> : <%= obj.getAcquisitionParams() %></p>
                </div>
            </div>
        <% } %>        
    </div>
    <div id="tabs-5">
        <% if(medias.length > 0) { %>
        <div class="">
            <div class="bloc_desc">
                <ul>
                <% medias.forEach(function(media, index) {%>
                    <li><a target="_blank" href="<%= req.protocol + '://' + req.get('host') %>/download?path=<%= req.protocol + '://' + req.get('host') %><%= media.getPath() %>"><%= media.getTitle() %></a></li>
                <% }); %>
                </ul>
            </div>
        </div>
        <% } %>        
    </div>
    <div id="tabs-6">
        <div class="">
            <div class="bloc_desc">
                <div id="comments">
                </div>
                
                <% if (req.isAuthenticated()) { %>
                    <textarea name="add_comment" id="add_comment" rows="5" cols="40"><%= __('Add your comment here') %></textarea>
                    <button onclick="addComment()"><%= __('Add comment') %></button>
                <% } %>
            </div>
        </div>
    </div>
    
</div>


<script type="text/javascript">
    $(function() {
        $( "#tabs" ).tabs();
    });

    <% if(medias_pictures.length == 0) { %>
        // If no media pictures, we need to remove the margin of the first blocks
        if($('.main-description')) {
            $('.main-description').css( "margin-top", "0" );
        }
    <% } %>

    $(document).ready(function(){
        $.ajax({
            type: "GET",
            url: "<%= req.protocol + '://' + req.get('host') %>/comments/" + <%= obj.getId() %>,
            data: { "_csrf": $("#_csrf").val() }
        })
        .done(function( comments ) {
            comments.forEach(function(comment, index) {
                $("#comments").append(formatComment(comment.comment, comment.updated, comment.author));
            });
        });
    });
    
    function addComment() {
        comment = $("#add_comment").val();
            
        $.ajax({
            type: "POST",
            url: "<%= req.protocol + '://' + req.get('host') %>/add_comment",
            data: { "comment": comment, "id": <%= obj.getId() %>, "_csrf": $("#_csrf").val()}
        })
        .done(function( msg ) {
            if(msg.status) {
                $("#comments").append(formatComment(comment));
            }
        });
    }
    
    function formatComment(comment, updated, author) {
        var comment = "<div class='comment'><div class='comment_content'>"+comment+"</div><div class='author'><%= __('By') %> "+author+" - " + updated + "</div></div>";
        return comment;
    }
    
</script>
