


<div class="col-lg-4">
<a target="_blank" href="http://www.mnhn.fr"><img src='/img/logo_mnhn_inv.png' alt='MNHN' /></a>
</div>

<div class="col-lg-4">
    <ul class="menu">
        <li><a href="<% if(req.session.lang == "en") { %>/about/en<% } else { %>/about<% } %>"><%= __('About') %></a></li>
        <li><a href="<% if(req.session.lang == "en") { %>/contact/en<% } else { %>/contact<% } %>"><%= __('Contact us') %></a></li>
    </ul>
</div>

<div class="col-lg-4">
    <ul class="menu">
        <li><a href="<% if(req.session.lang == "en") { %>/charter/en<% } else { %>charter<% } %>"><%= __('Charter use') %></a></li>
        <li><a href="<% if(req.session.lang == "en") { %>/credits/en<% } else { %>credits<% } %>"><%= __('Credits') %></a></li>
        <li><a href="<% if(req.session.lang == "en") { %>/legals/en<% } else { %>legals<% } %>"><%= __('Legals') %></a></li>
    </ul>
</div>

