


<div class="col-lg-4">
<img src='/img/logo_mnhn_inv.png' alt='MNHN' />
</div>

<div class="col-lg-4">
    <ul class="menu">
        <li><a href="/about"><%= __('About') %></a></li>
        <li><a href="/contact"><%= __('Contact us') %></a></li>
    </ul>
</div>

<div class="col-lg-4">
    <ul class="menu">
        <li><a href="/charter"><%= __('Charter use') %></a></li>
        <li><a href="/credits"><%= __('Credits') %></a></li>
        <li><a href="/legals"><%= __('Legals') %></a></li>
    </ul>
</div>

