<% layout('base') -%>

  
<h1><%= __('Gallery') %></h1>

<div class="filter_bar">
    <form action="/gallery/<%= req.session.gallery %>" method="post">
        <input type='hidden' name='_csrf' value='<%= _csrf %>'>
        <%= __('Search by collection') %><input type="text" name="category" id="category">
        <%= __('Free search') %><input type="text" name="freesearch">
        <%= __('Items per page') %><select name="items_per_page">
                                    <option value="20" <% if(items_per_page == 20) {%>selected<% } %>>20</option>
                                    <option value="50" <% if(items_per_page == 50) {%>selected<% } %>>50</option>
                                    <option value="100" <% if(items_per_page == 100) {%>selected<% } %>>100</option>
                                   </select>
        <input type="submit" name="<%= __('Search') %>" value="<%= __('Search') %>">
    </form>
</div>
<div class="filter_list">
    <ul>
        <% if(listFilters['category']) {%>
            <li><%= __('Category') %> : <strong><%= listFilters['category'] %></strong><div class="remove_filter" onclick="remove_filter('category')"></div></li>
        <% } %>
        <% if(listFilters['freesearch']) {%>
            <li><%= __('Free search') %> : <strong><%= listFilters['freesearch'] %></strong><div class="remove_filter" onclick="remove_filter('freesearch')"></div></li>
        <% } %>
    </ul>
</div>

<div class="detail_list">
<% listObj.forEach(function(obj, index) {%>

    
    <div class="detail flip">
        <div class="card"> 
            <a href="/detail/<%= obj.getId() %>">
            <span class="face front">
                <img src="<%= obj.getPreview() %>" alt="<%= obj.getTitle() %>" />
                <% if(!obj.getPublished()) { %>
                    <span class="not_publish"></span>
                <% } %>
            </span>
            <span class="face back">
                <img class="animated" src="<%= obj.getPreviewAnimated() %>" alt="<%= obj.getTitle() %>" />
            </span> 
            </a>
        </div>
        <div class="gallery_desc">
            <%= obj.getTitle() %><br/>
            <span class="text_desc"><%= obj.getShortDesc() %></span>
            <% if (isAdmin) {%>
                <span class="actions">
                    <span class="edit_link"><a href="/admin/edit_object/<%= obj.getId() %>"><img src="/img/icon_edit.png" alt="<%= __('Edit') %>" /></a></span>
                    <span class="del_link"><a href="#" onclick="javascript:delete_obj(<%= obj.getId() %>);"><img src="/img/icon_delete.png" alt="<%= __('Delete') %>" /></a></span>
                </span>
            <% }%>
        </div>
    </div>

    
<% }); %>
</div>

<% if(nb_pages > 1) {%>
    <div class="pagination">
        <%= __('Page') %>
        <% for(i = 1 ; i <= nb_pages; i++) {%>
            <span><a href="/gallery/<%= req.session.gallery %>/<%= i %>"><%= i %></a></span>
        <% } %>
    </div>
<% } %>

<script type="text/javascript">
    $(function() {
        $.ajax({
            type: "GET",
            url: "/categories",
            data: { "_csrf": $("#_csrf").val() }
        })
        .done(function( categories ) {
            $( "#category" ).autocomplete({
                source: categories
            });
        });
    });

    function remove_filter(filter) {
        window.location.replace("/gallery/<%= req.session.gallery %>?remove_filter="+filter);
    }
    
    function delete_obj(objId) {
        if (confirm("<%= __('Are you sure you want to delete this object ?') %>")) { 
            window.location.replace("/admin/delete_object/"+objId);
        }
    }
    
    $(".flip").hover(function(){
        $(this).find(".card").toggleClass("flipped");
        return false;
    });    

</script>